<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shafik Rawass | Photographer</title>
    <link rel="stylesheet" href="/Photography-Website/Assets/CSS/styles.css" />
    <link rel="stylesheet" href="/Photography-Website/Assets/CSS/about.css" />
    <!-- * Website Icon -->
    <link rel="icon" type="image/x-icon" href="/Photography-Website/Assets/Images/Image.ico" />
  </head>
  <body>
    <header class="navbar">
      <h1 class="logo">
        <a href="/Photography-Website/index.html">
          <img src="/Photography-Website/Assets/Images/Image.png" id="logo" />
        </a>
      </h1>
      <nav>
        <ul class="nav-links">
          <li><a href="/Photography-Website/Services.html">Services</a></li>
          <li><a href="/Photography-Website/About.html">About</a></li>
          <li><a href="/Photography-Website/Contact.html">Contact</a></li>
        </ul>
      </nav>
      <a class="session-btn" id="session-btn">Book a Session</a>
    </header>
    <div id="popup" style="display: none">
      <h2>Contact Us</h2>
      <div class="whatsapp-embed">
        <p>Whatsapp:</p>
        <a href="https://wa.me/96171619141" target="_blank">
          <div>
            <img src="/Photography-Website/Assets/Images/whatsapp.png" />
            Chat on WhatsApp
          </div>
        </a>
      </div>
      <div class="instagram-embed">
        <p>Instagram:</p>
        <a
          href="https://www.instagram.com/shafikrawassproduction?utm_source=ig_web_button_share_sheet&igsh=NHJiaXpsa2Qzb3l5"
          target="_blank"
        >
          <div>
            <img src="/Photography-Website/Assets/Images/Instagram_icon.png" />
            Visit on Instagram
          </div>
        </a>
      </div>
      <button id="close">Close</button>
    </div>
    <section class="about-section">
      <div class="about-container">
        <div class="about-image">
          <img src="/Photography-Website/Assets/Images/Image.png" />
        </div>
        <div class="about-text">
          <h1>Meet the Eye Behind the Lens</h1>
          <p>
            Shafik Rawass, a director with over 10 years of experience capturing
            life’s most meaningful moments. As a photographer, videographer, and
            certified drone operator, he specializes in telling love stories,
            from engagements, kateb ketab to weddings and much more. His
            approach blends cinematic storytelling with emotional depth,
            ensuring that every frame reflects the real feeling behind the
            moment. Whether it’s a quiet glance or a grand celebration, his goal
            is to preserve the moments timelessly and artistically. So, let’s
            capture some magical beautiful moments together.
          </p>
        </div>
      </div>
    </section>
    <section class="about-section reverse">
      <div class="about-container">
        <div class="about-text">
          <h1>Beyond the Click</h1>
          <p>
            Our photography team is composed of highly trained, experienced, and
            professional individuals who are passionate about capturing the
            perfect moments. With years of expertise across various photography
            styles and settings, our team is dedicated to delivering
            high-quality results that reflect both creativity and precision.
            Whether it’s a corporate event, a personal celebration, or a
            creative project, we approach each assignment with professionalism,
            attention to detail, and a commitment to exceeding client
            expectations.
          </p>
        </div>
        <div class="about-image">
          <img src="/Photography-Website/Assets/Images/Image.png" />
        </div>
      </div>
    </section>
    <section class="about-section">
      <div class="about-container">
        <div class="about-image">
          <img src="/Photography-Website/Assets/Images/Image.png" />
        </div>
        <div class="about-text">
          <h1>Celebrate & Create</h1>
          <p>
            We offer a wide range of professional photography services tailored
            to suit every special occasion and creative need. Our event coverage
            includes proposals, fat'ha, engagements, kateb ketab, and weddings,
            ensuring that every cherished moment is beautifully captured. Beyond
            personal events, we also specialize in food photography, advertising
            content creation, and modeling shoots. We provide high-quality
            visual content that elevates brands and tells compelling stories.
            Whether you're celebrating a milestone or promoting a product, our
            team is here to deliver exceptional images with style and precision.
          </p>
        </div>
      </div>
    </section>
    <section class="about-section reverse">
      <div class="about-container">
        <div class="about-text">
          <h1>Wherever You Are, We Capture It All</h1>
          <p>
            Oh, and we almost forgot to mention, we're also available in Qatar!
            Whether you're planning your big day or creating standout content,
            we’ve got you covered both in Lebanon and Qatar. Shafik Rawass
            Photography +961 71 619 141, +974 5100 5843 Instagram:
            @shafikrawassproduction Email: shafikrawassproduction@gmail.com Let
            us capture your special moments, wherever you are!
          </p>
        </div>
        <div class="about-image">
          <img src="/Photography-Website/Assets/Images/Image.png" />
        </div>
      </div>
    </section>
    <div id="hr-with-text"><b>Discover Some of My Work</b></div>
    <!--* JavaScript Emplementation -->
    <section class="cards" id="cards"></section>

    <!--* Footer Section -->
    <footer class="site-footer">
      <div class="footer-content">
        <div class="footer-column">
          <h4>CONTACT</h4>
          <p>
            Email:
            <a href="mailto:shafikrawassproduction@gmail.com"
              >shafikrawassproduction@gmail.com</a
            ><br />Phone- Lebanon:+961 71 619 141 <br />Phone - Qatar:+974 5100
            5843<br />Beirut, Lebanon
          </p>
        </div>
        <div class="footer-column">
          <h4>QUICK LINKS</h4>
          <ul>
            <li><a href="/Photography-Website/index.html">Home</a></li>
            <li><a href="/Photography-Website/Services.html">Services</a></li>
            <li><a href="/Photography-Website/About.html">About</a></li>
            <li><a href="/Photography-Website/Contact.html">Contact</a></li>
            <li><a id="book-btn">Book Online</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>SOCIAL</h4>
          <ul>
            <li>
              <a
                href="https://www.instagram.com/shafikrawassproduction"
                target="_blank"
                >Instagram</a
              >
            </li>
            <li>
              <a href="https://wa.me/96171619141" target="_blank"
                >WhatsApp - Lebanon</a
              >
            </li>
            <li>
              <a href="https://wa.me/97451005843" target="_blank"
                >WhatsApp - Qatar</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2025 Shafik Rawass Photography. All Rights Reserved.</p>
        <p>Designed & Developed by Bahaa El Rawass.</p>
      </div>
    </footer>

    <script src="/Photography-Website/Assets/index.js"></script>
  </body>
</html>
