<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shafik Rawass | Photographer</title>
    <link rel="stylesheet" href="/Photography-Website/Assets/CSS/styles.css" />
    <link rel="stylesheet" href="/Photography-Website/Assets/CSS/services.css" />
    <!-- * Website Icon -->
    <link rel="icon" type="image/x-icon" href="/Photography-Website/Assets/Images/Image.ico" />
  </head>
  <body>
    <header class="navbar">
      <h1 class="logo">
        <a href="/Photography-Website/index.html">
          <img src="/Photography-Website/Assets/Images/Image.png" id="logo" />
        </a>
      </h1>
      <nav>
        <ul class="nav-links">
          <li><a href="/Photography-Website/Partials/Services.html">Services</a></li>
          <li><a href="/Photography-Website/Partials/About.html">About</a></li>
          <li><a href="/Photography-Website/Partials/Contact.html">Contact</a></li>
        </ul>
      </nav>
      <a class="session-btn" id="session-btn">Book a Session</a>
    </header>
    <div id="popup" style="display: none">
      <h2>Contact Us</h2>
      <div class="whatsapp-embed">
        <p>Whatsapp - Lebanon:</p>
        <a href="https://wa.me/96171619141" target="_blank">
          <div>
            <img src="/Photography-Website/Assets/Images/whatsapp.png" />
            Chat on WhatsApp
          </div>
        </a>
      </div>
      <div class="whatsapp-embed">
        <p>Whatsapp - Qatar:</p>
        <a href="https://wa.me/97451005843" target="_blank">
          <div>
            <img src="/Photography-Website/Assets/Images/whatsapp.png" />
            Chat on WhatsApp
          </div>
        </a>
      </div>
      <div class="instagram-embed">
        <p>Instagram:</p>
        <a
          href="https://www.instagram.com/shafikrawassproduction?utm_source=ig_web_button_share_sheet&igsh=NHJiaXpsa2Qzb3l5"
          target="_blank"
        >
          <div>
            <img src="/Photography-Website/Assets/Images/Instagram_icon.png" />
            Visit on Instagram
          </div>
        </a>
      </div>
      <button id="close">Close</button>
    </div>
    <section class="hero">
      <video autoplay muted loop playsinline>
        <source src="/Photography-Website/Assets/Images/Placeholder-Video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </section>
    <section class="intro">
      <h2>
        Placeholder Text: <br />
        Offering hi-end lifestyle and fine art photography, specializing in
        weddings, family moments, maternity, newborns, Bar & Bat Mitzvahs, and
        fashion. With a distinct style that embraces natural lighting and
        authentic editing tones, I strive to capture memories in their truest
        form.
      </h2>
      <section class="intro-cards">
        <div class="card">
          <img src="/Photography-Website/Assets/Images/Image.png" />
          <h3>Package 1</h3>
          <ul>
            <li>Package Items</li>
            <li>Package Items</li>
            <li>Package Items</li>
            <li>Package Items</li>
            <li>Package Items</li>
          </ul>
          <a href="#form" class="btn">Book</a>
        </div>
        <div class="card">
          <img src="/Photography-Website/Assets/Images/Image.png" />
          <h3>Package 2</h3>
          <ul>
            <li>Package Items</li>
            <li>Package Items</li>
            <li>Package Items</li>
            <li>Package Items</li>
            <li>Package Items</li>
          </ul>
          <a href="#form" class="btn">Book</a>
        </div>
        <div class="card">
          <img src="/Photography-Website/Assets/Images/Image.png" />
          <h3>Package 3</h3>
          <ul>
            <li>Package Items</li>
            <li>Package Items</li>
            <li>Package Items</li>
            <li>Package Items</li>
            <li>Package Items</li>
          </ul>
          <a href="#form" class="btn">Book</a>
        </div>
      </section>
    </section>
    <section class="contact-section" id="contact-section">
      <form
        class="contact-form"
        action="https://submit-form.com/9J7Cp2KQE"
        method="post"
        id="form"
      >
        <div class="form-row">
          <div class="form-group floating">
            <input
              type="text"
              id="first_name"
              name="first_name"
              required
              placeholder=" "
            />
            <label for="first_name">First Name *</label>
          </div>
          <div class="form-group floating">
            <input
              type="text"
              id="last_name"
              name="last_name"
              required
              placeholder=" "
            />
            <label for="last_name">Last Name *</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group floating">
            <input
              type="email"
              id="email"
              name="Email"
              required
              placeholder=" "
            />
            <label for="email">Email *</label>
          </div>
          <div class="form-group floating">
            <input
              type="tel"
              id="tel"
              name="Phone Number"
              required
              placeholder=" "
            />
            <label for="tel">Phone Number *</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group floating">
            <input
              type="text"
              id="session_location"
              name="session_location"
              placeholder=" "
            />
            <label for="session_location">Session Location:</label>
          </div>
          <div class="form-group floating">
            <select id="package" name="package" required>
              <option value="" disabled selected>Select Package:</option>
              <option value="Package 1">Package 1</option>
              <option value="Package 2">Package 2</option>
              <option value="Package 3">Package 3</option>
            </select>
            <label for="package">Package:*</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group floating">
            <input
              type="number"
              id="package_time"
              name="package_time"
              placeholder=" "
              min="1"
            />
            <label for="package_time">How Many Hours?</label>
          </div>
          <div class="form-group floating">
            <input
              type="date"
              id="package_date"
              name="package_date"
              placeholder=" "
            />
            <label for="package_date">Session Date</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group floating message-field">
            <textarea
              id="message"
              name="message"
              rows="5"
              required
              placeholder=" "
            ></textarea>
            <label for="message">Message</label>
          </div>
        </div>
        <button type="submit" class="btn">BOOK NOW</button>
      </form>
    </section>
    <div id="hr-with-text"><b>Discover Some of My Work</b></div>
    <!--* JavaScript Implementation -->
    <section class="cards" id="cards"></section>

    <!--* Footer Section -->
    <footer class="site-footer">
      <div class="footer-content">
        <div class="footer-column">
          <h4>CONTACT</h4>
          <p>
            Email:
            <a href="mailto:shafikrawassproduction@gmail.com"
              >shafikrawassproduction@gmail.com</a
            ><br />Phone- Lebanon:+961 71 619 141 <br />Phone - Qatar:+974 5100
            5843<br />Beirut, Lebanon
          </p>
        </div>
        <div class="footer-column">
          <h4>QUICK LINKS</h4>
          <ul>
            <li><a href="/Photography-Website/index.html">Home</a></li>
            <li><a href="/Photography-Website/Partials/Services.html">Services</a></li>
            <li><a href="/Photography-Website/Partials/About.html">About</a></li>
            <li><a href="/Photography-Website/Partials/Contact.html">Contact</a></li>
            <li><a id="book-btn">Book Online</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>SOCIAL</h4>
          <ul>
            <li>
              <a
                href="https://www.instagram.com/shafikrawassproduction"
                target="_blank"
                >Instagram</a
              >
            </li>
            <li>
              <a href="https://wa.me/96171619141" target="_blank"
                >WhatsApp - Lebanon</a
              >
            </li>
            <li>
              <a href="https://wa.me/97451005843" target="_blank"
                >WhatsApp - Qatar</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2025 Shafik Rawass Photography. All Rights Reserved.</p>
        <p>Designed & Developed by Bahaa El Rawass.</p>
      </div>
    </footer>

    <script src="/Photography-Website/Assets/index.js"></script>
  </body>
</html>
